@import "../Styles/Sass/02-base/color";
@import "../Styles/Sass/01-utilitles/mixins";

%letras{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    word-spacing: .013rem;
    letter-spacing: .015rem;
    font-weight: 500;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-negro-claro2;
}

sub{
    @extend %letras;
    color: #dce1da;
}

.logo_2{
    width: 100px;
}

@media only screen and (min-width:768px){
    .copy{
        padding-left: 5%;
    }
        .logo_2{
            width: 150px;
            padding-right: 5%;
        }
}