@import "../Styles/Sass/02-base/color";
@import "../Styles/Sass/01-utilitles/mixins";

.container_4{
    display: grid;
    grid-template-rows: 25vh 75vh;
    grid-template-columns: 100%;
}

.img_4{
    background: transparent url(../public/img/ruta.png) 0% 0% no-repeat padding-box;
    background-size: cover;
}

aside{
    grid-row: 1/2;
}

@media only screen and (min-width:768px){
    .container_4{
        grid-template-rows: 100vh;
        grid-template-columns: 25% 75%;
    }
        .img_4{
            grid-column: 2/3;
        }
            aside{
                padding-left: 30%;
                padding-bottom: 80%;
                align-self: center;
            }
}   