@import "../../Styles/Sass/01-Utilitles/mixins.scss";
@import "../../Styles/Sass/02-Base/Color.scss";

%letras 
{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    word-spacing: .013rem;
    letter-spacing: .015rem;
    font-weight: 500;
}

.Fondo_Paisaje{
    background: transparent url('../../public/img/Paisaje.png') 0% 0% no-repeat padding-box;
    background-size: cover;
    height:100vh;
}

.container_art_1
{
    display: grid;
    grid-template-rows: repeat(3, auto);
    width: 100%;
    position: relative;
    top: 20%;
}

.titulo_1 
{
    margin: 0%;
    padding: 10% 0% 2% 2%;
    @include tipografia;
    font-size: 2.3rem;
    word-spacing: .3rem;
    letter-spacing: .1rem; 
} 

.parrafo_1 
{
    padding-left: 2%;   
    color: $color-blanco;
    @extend %letras;           
}

.boton_1 
{ 
    margin-left: 1%;
    @include width-heigth(140px, 45px);              
    @extend %letras;
    background: $color-naranja;
    border-radius: 1.5rem;
    border: 0px;
    color: $color-blanco; 
    &:hover 
    {
        background: #bf6e39;
    }    
}

.container_botones
{
    margin: 0%;
    bottom: 22%;
    left: 2%;
    justify-content: start;
}

.boton_carousel
{
    border-radius: 50%;
}

@media only screen and (orientation: landscape){
    .titulo_1{
        padding-top: 5%;
        padding-bottom: 0%;
    }
        .container_botones{
            bottom: 1%;
        }
}

@media only screen and (min-width:741px){
    .container_art_1{
        padding-left: 5%;
    }
        .titulo_1{
            font-size: 3rem;
            width: 60%;
            padding-bottom: 2%;
        }
            .parrafo_1{
                width: 39%;
            }
                .container_botones{
                    left: 7%;
                    bottom: 28%;
                }
}

@media only screen and (min-width:1000px){
    .Fondo_Paisaje{
        background-repeat: round;
    }
}  