@import "../Styles/Sass/02-base/color";
@import "../Styles/Sass/01-utilitles/mixins";

.container_5{
    display: grid;
    grid-template-rows: 100vh;
    background: rgb(242,244,241);
    background: linear-gradient(90deg, rgba(242,244,241,1) 70%, rgba(220,225,218,1) 70%);
}

.container_form{
    grid-row: 1/2;
    width: 80%;
    height: 80%;
    align-self: center;
    justify-self: center;
}

.titulo_5{
    margin: 0%;
    font-family:'Poppins', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    word-spacing: .45px;
    letter-spacing: .55px;
    color: $color-negro-claro;
        .titulo_abajo_otro_color{
            color: $color-naranja
        }
}

@media only screen and (orientation: landscape){
    .container_form{
        height: 100%;
    }
        .titulo_5{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100%;
            height: 14%;
        }
}

@media only screen and (min-width:768px){
    .container_5{
        grid-template-columns: 50% 50%;
    }
        .titulo_5{
            height: 20%;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 100%;
        }
            .container_form{
                height: 85%;
            }
                .img_5{
                    background: transparent url('../public/img/globos.png') 0% 0% no-repeat padding-box;
                    background-size: cover;
                    height: 50vh;
                    width: 90%;
                    align-self: center;
                }
}