@import "../../Styles/Sass/02-base/color";
@import "../../Styles/Sass/01-utilitles/mixins";

%letras{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    word-spacing: .013rem;
    letter-spacing: .015rem;
    font-weight: 500;
}

.fondo_dos_colores{
    display: grid;
    grid-template-rows: 70vh;
    align-content: center;
    background: rgb(242,244,241);
    background: linear-gradient(90deg, rgba(242,244,241,1) 70%, rgba(220,225,218,1) 70%);
}

.container_img_2{
    display: grid;
    grid-template-rows: 50%;
    grid-template-columns: 80%;
    align-content: end;
    justify-content: end;
    background: transparent url(../../public/img/Casa.png) 0% 0% no-repeat padding-box;
    background-size: cover;
}

.container_fondo_naranja{
    background-color: $color-naranja;
}

.container_art_3{
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 0% 12%;
}

.parrafo_titulo{
    margin: 0%;
    color: $color-blanco;
    @extend %letras;
}

.titulo_3{
    padding-bottom: 5%;  
    @include tipografia;
    font-size: 2rem;
    letter-spacing: .55px;
}

.parrafo_3 {
    margin: 0%;
    color: $color-blanco;
    @extend %letras;
}

.boton_next{
    height: 100%;
    align-items: end;
    padding-bottom: 2%;
    right: 6%;
}

.boton_previous{
    height: 100%;
    align-items: end;
    padding-bottom: 2%;
    left: 65%;
}

@media only screen and (orientation: landscape){
    .container_img_2{
        grid-template-rows: auto;
        grid-template-columns: 50%;
    }
        .boton_next{
            right: 0;
        }
            .boton_previous{
                left: 76%;
            }
}

@media only screen and (min-width:769px){
    .fondo_dos_colores{
        grid-template-columns: 80%;
        justify-content: center;
    }
        .container_img_2{
            grid-template-rows: 53%;
            grid-template-columns: 42%;
        }
            .container_art_3{
                padding-top: 10%;
            }
                .boton_next{
                    padding-bottom: 0;
                }
                    .boton_previous{
                        padding-bottom: 0;
                    }
}