@import "../../Styles/Sass/01-utilitles/mixins";
@import "../../Styles/Sass/02-base/color";

%letras 
{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    word-spacing: .013rem;
    letter-spacing: .015rem;
    font-weight: 500;
}

form
{
    display: flex;
    flex-direction: column;
}

*label
{
    @extend %letras;
    color: $color-negro-claro2;    
}

.input
{
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid $color-negro-claro2;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0rem;
}

textarea
{
    resize: none;
}

.error
{
    background-color: #ff0000;
    border-radius: 0.3rem;
    width: 64%;
    color: $color-blanco;
    padding: 2%;
}

.mensaje
{
    align-self: center;
    font-family: 'Roboto', sans-serif;
    padding: 2%;
    border-radius: .3rem;
    background-color: green;
    color:$color-blanco;
}

.boton_2 
{
    @include width-heigth(100px, 45px);
    margin-top: 5%;
    background: $color-naranja;
    border-radius: 1.5rem;
    padding: 2% 5.5%;
    border: 0px;
    color: $color-blanco;
    @extend %letras;
    &:hover 
    {
        background: #bf6e39;
    }    
}